a:link {
    color: hotpink;
}

a:visited {
    color: rgb(195, 105, 255);
}

a:hover {
    color: rgb(105, 210, 255);
}

body {
    background-color: rgb(70, 70, 70);
    color: rgb(224, 221, 221);
    font-family: Verdana, sans-serif;
}

#greeting{
    font-size: 3vw;
}

#nav-spiel-flex{
    display:flex;
    padding: 1% 40% 1% 1%;
}

#nav{
    font-size: 1vw;
    padding: 1%;
    outline-width: thin;
    outline-style: solid;
    outline-color:cadetblue;
    vertical-align: middle;
}

#spiel{
    font-size: 1vw;
    margin: 1% 1%;
}

#footer{
    font-size: 0.5vw;
}
